[submodule "vim/.vim/pack/plugins/start/coc"]
	path = vim/.vim/pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/.vim/pack/git/start/fugitive"]
	path = vim/.vim/pack/git/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/.vim/pack/indent/start/indentLint"]
	path = vim/.vim/pack/indent/start/indentLint
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/pack/filetype/opt/graphql"]
	path = vim/.vim/pack/filetype/opt/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/.vim/pack/plugings/start/surround"]
	path = vim/.vim/pack/plugings/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/.vim/pack/plugins/start/ultisnips"]
	path = vim/.vim/pack/plugins/start/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "vim/.vim/pack/plugins/start/repeat"]
	path = vim/.vim/pack/plugins/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/.vim/pack/syntax/start/syntastic"]
	path = vim/.vim/pack/syntax/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/pack/plugins/start/gundo"]
	path = vim/.vim/pack/plugins/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-ripgrep"]
	path = vim/.vim/pack/plugins/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "vim/.vim/pack/colors/start/vim-colorschemes"]
	path = vim/.vim/pack/colors/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
