[submodule "vim/.vim/pack/plugins/start/coc"]
	path = vim/.vim/pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/.vim/pack/plugins/start/fugitive"]
    path = vim/.vim/pack/plugins/start/fugitive
    url = https://github.com/tpope/fugitive.git
[submodule "vim/.vim/pack/indent/start/indentLint"]
	path = vim/.vim/pack/indent/start/indentLint
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/pack/filetype/opt/graphql"]
	path = vim/.vim/pack/filetype/opt/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/.vim/pack/plugins/start/ultisnips"]
	path = vim/.vim/pack/plugins/start/ultisnips
	url = https://github.com/sirver/ultisnips.git
[submodule "vim/.vim/pack/plugins/start/repeat"]
	path = vim/.vim/pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/syntax/start/syntastic"]
	path = vim/.vim/pack/syntax/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/pack/plugins/start/gundo"]
	path = vim/.vim/pack/plugins/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-ripgrep"]
	path = vim/.vim/pack/plugins/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "vim/.vim/pack/colors/start/vim-colorschemes"]
	path = vim/.vim/pack/colors/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "vim/.vim/pack/plugins/start/surround"]
	path = vim/.vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/filetype/opt/emmet"]
	path = vim/.vim/pack/filetype/opt/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/.vim/pack/filetype/opt/htmlCSSPrv"]
	path = vim/.vim/pack/filetype/opt/htmlCSSPrv
	url = https://github.com/turbio/bracey.vim.git
[submodule "vim/.vim/pack/filetype/opt/Livedown"]
	path = vim/.vim/pack/filetype/opt/Livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
